@font-face {
  font-family: "iconfont"; /* Project id 3229676 */
  src: url('iconfont.woff2?t=1646720697523') format('woff2'),
       url('iconfont.woff?t=1646720697523') format('woff'),
       url('iconfont.ttf?t=1646720697523') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-4-Connection:before {
  content: "\e767";
}

.icon-a-3-Wallet:before {
  content: "\e768";
}

.icon-a-11-Report:before {
  content: "\e769";
}

