@font-face {
  font-family: "iconfont"; /* Project id 3194630 */
  src: url('iconfont.woff2?t=1645415882482') format('woff2'),
       url('iconfont.woff?t=1645415882482') format('woff'),
       url('iconfont.ttf?t=1645415882482') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minggnaxinxi:before {
  content: "\e791";
}

.icon-duankou:before {
  content: "\e792";
}

.icon-beikongzhizhuji:before {
  content: "\e793";
}

.icon-daimacangku:before {
  content: "\e794";
}

.icon-wangzhan:before {
  content: "\e795";
}

.icon-yun:before {
  content: "\e796";
}

.icon-vb:before {
  content: "\e797";
}

.icon-shujuku:before {
  content: "\e798";
}

.icon-URL:before {
  content: "\e799";
}

.icon-pingzheng:before {
  content: "\e79a";
}

.icon-zhuji:before {
  content: "\e79b";
}

.icon-loudong:before {
  content: "\e79c";
}

.icon-yuming:before {
  content: "\e79d";
}

.icon-wenjian:before {
  content: "\e79e";
}

